@using MultiTenant.IdentityServerFour.Models.Id4User
@model UserEditVM
<div class="row">
    <div class="col-md-12">
        <h2 class="text-center">Edit User</h2>
    </div>
    <div class="col-md-6 offset-md-3">
        <div asp-validation-summary="All" class="text-danger"></div>
        <form asp-action="EditUser" method="post">
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="UserName">UserName</label>
                <input asp-for="UserName" class="form-control" placeholder="UserName" value="@Model.UserName">
            </div>
            <div class="form-group">
                <label asp-for="UserEmail">UserEmail</label>
                <input asp-for="UserEmail" class="form-control" placeholder="UserEmail" value="@Model.UserEmail">
            </div>
            <h4>User Roles</h4>
            @foreach (var role in Model.AllRoles)
            {
                <div class="form-group">
                    <input type="checkbox" name="Roles" value="@role" checked="@Model.Roles.Contains(role)" /> @role
                </div>
            }
            <h4>User Permissions</h4>
            @foreach (var perm in Model.AllPermissions)
            {
                <div class="form-group">
                    <input type="checkbox" name="Permissions" value="@perm" checked="@Model.Permissions.Contains(perm)" /> @perm
                </div>
            }
            <div class="row">
                <div class="col-md-6">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
                <div class="col-md-6">
                    <button type="button" class="btn btn-warning cancel">Cancel</button>
                </div>
            </div>
        </form>
   
    </div>
  
</div>
<div class="row">
    <div class="col-md-12">
        <p class="text-center"><a href="~/home/userlist" class="btn btn-primary">Go To List</a></p>
    </div>
</div>